<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-todo p-4">

        <!-- Logo -->
        <div class="row">
            <div class="col-auto">
                <img class="logo-tdl"src="{{ url_for('static', filename='images/logo.png') }}">
            </div>
        </div>

        <form id="form-add" action="/" method="POST">
            <div class="row py-3 justify-content-between">

                <!-- Input box -->
                <div class="col">
                    <input class="form-control border shadow-none py-2" type="text" id="input-box" name="task" placeholder="Add new task:">
                </div>
                
                <!-- Add task button -->
                <div class="col-auto">
                    <button class="btn btn-success shadow-none px-4">Add</button>
                </div>
                    
            </div> 
        </form>
            
        <div class="row">
            <div class="col-auto">
                <!-- Delete all tasks -->
                <form id="form-delete-all" action="delete_all" method="POST">
                    <input type="submit" class="btn btn-outline-danger shadow-none" value="Delete All">
                </form>
            </div>

            <div class="col-auto">
                <!-- Delete checked tasks -->
                <form id="form-delete-checked" action="delete_checked" method="POST">
                    <input type="submit" class="btn btn-outline-warning shadow-none" value="Delete Checked">
                </form>
            </div>
        </div>

        <!-- List of tasks -->
        <div class="row p-3">
            <div id="list-container">
                {% for task in tasks %}
                    <div class="row align-items-center">

                        <div class="col-auto">
                            <span class="delete-x text-center" id="{{ task.0 }}">X</span>
                        </div>
                        
                        <div class="task col-9 py-2 text-end {% if task.2 %}checked{% endif %}" id="{{ task.0 }}">
                            <span class="px-3">{{ task.1 }}</span>{% if task.2 %}<img class="checkbox" src="{{ url_for('static', filename='images/checked.png') }}" alt="">
                            {% else %}<img class="checkbox" src="{{ url_for('static', filename='images/unchecked.png') }}" alt="">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <footer class="mx-3 py-3 border-top">
        <p class="col-auto mb-0">&copy; 2023 TDL, <a href="https://newa.fun" target="_blank">Newa Fun</a>. All Rights Reserved</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>